*{
    box-sizing: border-box;
    
}

.parent{display: flex;
    

}

.food {
    background-color: rgb(28, 37, 69);
    color: white;
    padding: 8px;
    margin-left: 5px;
}

.line1 {margin-left: 5px;
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
}

.line2{
   font-weight: lighter;
   color: gray;
   position: absolute;
   left: 48px;
  
}

.social{
    display: flex;
    position: absolute;
    right:20px;
    gap: 2px;
    font-size: 25px;
    
}

.slash-1 {
    height: 5px;
    color: gray;
    color: color;
    background-image: linear-gradient(-45deg, transparent, transparent 25%, currentColor 25%, currentColor 50%, transparent 50%, transparent 75%, currentColor 75%);
    background-size: 5px 5px;
    width: 100%;
  }

.title{font-family: 'Anton', sans-serif;
        font-size: 20px;  
       }

.line3{
    color: gray;
    font-size: 12px;
   
    font-family: 'Merriweather', serif;
    font-weight: bold;
  
}


.imge1{
    width: 100%;
}

.paraghraph {
color: rgb(120, 126, 110);
}

.imge2{
    width: 100%;
    height: 200px;
   
}

.check1 {
    position: absolute;
    bottom:-650px;
}

/* .check2 {
    position: absolute;
    left: 300px;
    top: 1200px;
} */

.imge3{
    height: 80px;
}

.name{font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 10px;
    }

    /* .button{
        color: white;
        background-color: brown;
        bottom: 2px solid black;
        font-family: 'Merriweather', serif;
        font-size: 2px;
    } */






    .checkbox-inline1{
        position: relative;
        top:300px ; 
        left: 450px;
        border:none;
        font-family: 'Anton', sans-serif;
        font-family: 'Itim', cursive;
        /* font-family: 'Merriweather', serif;
        font-family: 'Yellowtail', cursive; */
        
    }






    .checkbox-inline2{
        position: absolute;
        top: 300px;
        border: none;
        font-family: 'Anton', sans-serif;
        font-family: 'Itim', cursive;
        /* font-family: 'Merriweather', serif;
        font-family: 'Yellowtail', cursive; */
       
    }

    .footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   
    }

    .last {
        color: rgb(120, 126, 110);
       font-size: 15px;
       margin-top: 6px;
    }

    .footer .logo {
        color: azure;
        background-color: gray;
        padding: 5px;
        
    }

    .submit{
       position: absolute; 
       left: 820px;
       top:600px;
       background-color: brown;
       border: 3px black outset;
       color: white;
       padding: 8px;
       font-size: 6px;
    }

   .print{
       position: relative;
       left: 1500px;
       bottom: 70px;
    }